<div class="chores">
  <h3>Chores</h3>
  <ul>
    <li *ngFor="let chore of chores">{{ chore }}</li>
  </ul>
  <p *ngIf="chores.length > finishedChores.length">Work harder!</p>
</div>

<hr />
<div class="doneChores">
  <h3>Done Chores</h3>
  <ul>
    <li *ngFor="let done of finishedChores">{{ done }}</li>
  </ul>
  <img
    src="{{ targetImage }}"
    alt=""
    *ngIf="
      chores.length === 0 || finishedChores.length - chores.length >= 3;
      else noAllowanceYet
    "
  />
</div>

<hr />
<h1
  *ngIf="
    chores.length === 0 && finishedChores.length - chores.length >= 4;
    else noIceCreamYet
  "
>
  Ice cream treat!
</h1>

<ng-template #noAllowanceYet>
  <p>No allowance yet.</p>
</ng-template>
<ng-template #noIceCreamYet>
  <h3>How to earn ice cream:</h3>
  <p>The chores list must be empty.</p>
  <p>Finish at least 4 chores!</p>
</ng-template>
